@import 'normalize.css';
@import 'fonts.scss';

/* Base Colors */
$grey95:		#F3F3F3;
$grey90: 		#e6e6e6;
$grey80: 		#cccccc;
$white:			#ffffff;
$grey40:		#666666;
$grey60:		#989898;
$grey20:		#343434;
$black:			#000000;

/* Red 'Alert' colors */
$alertOff:		#C75144;
$alertOn:		#D9493B;

/* Yellow 'Warn' colors */
$warnOff:		#ECA550;
$warnOn:		#F0A23A;

/* Green 'Nominal' colors */
$nominalOff:	#99C651;
$nominalOn:		#A2DD3A;

$blueSubdued:	#008DC9;

/****************************************************************
 PAGE SETUP */

*, *:before, *:after { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

html { font-size: 62.5%; }

body {
	background: $grey95;
	font-family: 'source_sans_proregular', Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-style: normal; 
	font-size: 14px; 
	line-height: 1; 
	color: $grey60; 
	position: relative; 
	-webkit-font-smoothing: antialiased; 
}

/****************************************************************
 GRID CONFIGURATION */

section, .row {
	background: $white;
	/*width: 940px; */
	width: 95%;
	max-width: 100%; 
	/*min-width: 768px;*/ 
	margin: 0 auto; 
	margin-top: 30px;
}

section .row {
	width: auto;
	max-width: none; 
	min-width: 0;
	margin: 0 -15px;
}


@media only screen and (max-width: 959px) {
	.headline {
		clear: both;
		width: 100% !important;
	}
	.content {
		clear: both;
		width: 100% !important;
	}
}

section { *zoom: 1; }
section:before, section:after { content: " "; display: table; }
section:after { clear: both; }

.column {
	float: left;
	padding: 0 15px;
	position: relative;
	min-height: 1px;
}

[class*="column"] + [class*="column"]:last-child { float: right; }
[class*="column"] + [class*="column"].end { float: left; }

.one { width: 8.33333%; }
.two { width: 16.66667%; }
.three { width: 25%; }
.four { width: 33.33333%; }
.five { width: 41.66667%; }
.six { width: 50%; }
.seven { width: 58.33333%; }
.eight { width: 66.66667%; }
.nine { width: 75%; }
.ten { width: 83.33333%; }
.eleven { width: 91.66667%; }
.twelve { width: 100%; }

/****************************************************************
 HELPERS */

.left { float: left; }
.right { float: right; }
.text-left { text-align: left; }
.text-right { text-align: right; }
.text-center { text-align: center; }
.hide { display: none !important; }
.highlight { background: #ffff99; }
.ir { text-indent: -9999px; }

/****************************************************************
 GLOBAL + BASE STYLES */

a {
	color: $blueSubdued;
}

address {
	font-style: normal;
}

.severity {
	width: 21px;
	height: 21px;
	text-indent: -9999px;
	display: inline-block;
	margin-right: 5px;
	&.severity-severe {
		background: url(../images/icn-attention.png) no-repeat;
	}
}

.number-circle {
    -webkit-border-radius: 999px;
    -moz-border-radius: 999px;
    border-radius: 999px;
    width: 36px;
    height: 36px;
    padding: 3px 7px;
    background: $grey40;
    border: 2px solid #666;
    color: $white;
    text-align: center;
    font-family: 'source_sans_probold';
}

.alert {
	color: $alertOff;
}

.warn {
	color: $warnOff;
}

/****************************************************************
 DOCUMENT */

section {

	.listing {
		ul {
			list-style-type: none;
			margin: 15px 0;
			padding: 0;
			li {
				margin-left: 0;
				padding-left: 0;
				a {
					color: inherit;
					display: block;
					border-radius: 5px;
					text-decoration: none;
					padding: 10px;
					//border-bottom: 1px solid $grey90;
					&:hover {
						background: #fafafa;
					}
				}
			}
		}
		font-size: 22px;
		font-family: 'source_sans_pro_semiboldRg';
		p {
			padding: 5px;
		}
		small {
			font-family: 'source_sans_proregular';
			font-size: 15px;
			color: $grey40;
		}
	}

	&.toolhead {
		background: $grey20;
		clear: both;
		ul {
			list-style-type: none;
			margin: 0;
			padding: 0;
			background: $grey40;
			float: right;
			li {
				float: left;
				position: relative;
				/*border: 1px solid #333;
				border-right: none; */
				-webkit-box-shadow: 1px 0 0 rgba(255, 255, 255, 0.2) inset; 
				-moz-box-shadow: 1px 0 0 rgba(255, 255, 255, 0.2) inset; 
				box-shadow: 1px 0 0 rgba(255, 255, 255, 0.2) inset; 
				a {
					display: block;
					color: $white;
					text-decoration: none;
					padding: 5px 9px;
					font-family: 'source_sans_probold';
					text-transform: uppercase;
					letter-spacing: -1px;
					font-size: 18px;
					&.icon {
						font-family: 'source_code_probold';
					}
				}
			}
		}
	}

	&.medications {
		a { text-decoration: none; }
		.grid {
			margin: 15px 0;
			.column {
				background: $grey90;
			}
		}
	}


	.headline {
		background: $grey40;
		color: $white;
		// letter-spacing: -1px;
		&:before {
		    content: '';
		    position: absolute;
		    bottom: 0; 
		    right: 0;
		    border-top: 10px solid $grey40;
		    border-right: 10px solid $white;
		    width: 0;
		}
	}

	.alert .headline {
		background: $alertOff;
	}



	&.bio {
		color: $grey60;
		margin-top: 0;
		h1 {
			font-weight: normal;
			font-size: 48px;
			font-family: 'source_sans_pro_extralight';
			margin: 20px 0 0 0;
			small {
				font-family: 'source_sans_probold';
				font-size: 20px;
				color: $grey80;
			}
		}
		p, address {
			font-size: 18px;
			margin: 0;
			margin-top: 5px;
			padding-bottom: 5px;
			color: $grey80;
		}
	}

	&.updates {
		background: $grey80;
		margin-top: 0;
	}
	
}

/****************************************************************
 HIGH CONTRAST */

.high-contrast {
	*, *:before, *:after { 
		background: $white !important; 
		color: $black !important; 
	}
}
