@import 'fonts.scss';
@import 'normalize.css';
@import 'foundation.css';
@import 'joyride.css';

/* Base Colors */
$blueSubdued:	#008DC9;
$black:			#000000;
$grey95:		#F3F3F3;
$grey90: 		#e6e6e6;
$grey80: 		#cccccc;
$grey60:		#989898;
$grey40:		#666666;
$grey20:		#343434;
$white:			#ffffff;

/* Red 'Alert' colors */
$alertOff:		#C75144;
$alertOn:		#D9493B;

/* Yellow 'Warn' colors */
$warnOff:		#ECA550;
$warnOn:		#F0A23A;

/* Green 'Nominal' colors */
$nominalOff:	#99C651;
$nominalOn:		#A2DD3A;


/****************************************************************
 PAGE SETUP */

body {
	background: $grey95;
	font-family: 'source_sans_proregular', Helvetica, Arial, Tahoma, sans-serif;
	color: $grey60; 
}

/****************************************************************
 GLOBAL + BASE STYLES */

p {
	margin: 0;
	padding: 0;
	line-height: 1;
}

a {
	color: $blueSubdued;
}

address {
	font-style: normal;
}

.severity {
	width: 21px;
	height: 21px;
	text-indent: -9999px;
	display: inline-block;
	margin-right: 5px;
	position: relative;
	top: 3px;
	&.severity-severe {
		background: url(../images/icn-attention.png) no-repeat;
	}
}

.barcode {
	opacity: 0.3;
	filter: alpha(opacity=30);
}

.number-circle {
    -webkit-border-radius: 999px;
    -moz-border-radius: 999px;
    border-radius: 999px;
    width: 36px;
    height: 36px;
    padding: 3px 7px;
    background: $grey40;
    border: 2px solid #666;
    color: $white;
    text-align: center;
    font-family: 'source_sans_probold';
}

.alert {
	color: $alertOff;
}

.warn {
	color: $warnOff;
}

.panel {
	padding: 15px;
}

/****************************************************************
 SECTION STYLES */

section {

	margin-top: 30px;

	/* 00 TOOLHEAD */
	&.toolhead {
		position: absolute;
		width: 100%;
		top: -80px;
		z-index: 9999;
		ul {
			list-style-type: none;
			margin: 0;
			padding: 0;
			float: right;
			margin-right: 15px;
			li {
				float: left;
				position: relative;
				margin-left: 10px;
				a {
					background: $grey80;
					width: 55px;
					display: block;
					height: 75px;
					transform: skew(0deg,20deg);
					-ms-transform: skew(0deg,20deg);
					-webkit-transform: skew(0deg,20deg);
					-o-transform: skew(0deg,20deg); 
					-moz-transform: skew(0deg,20deg);
					&:hover {
						background: $grey40;
					}
					&:activated {
						background: $blueSubdued;
					}
				}
			}
		}
	}

	/* 01 NAME */
	&.name {
		h1 {
			font-family: 'source_sans_pro_extralight';
			color: $grey60;
		}
	}

	/* 02 BIO */
	&.bio {
		.panel {
			min-height: 127px;
			background: $white;
		}
	}

	/* 03 ALLERGIES */
	&.allergies {
		.content {
			.panel {
				padding: 0;
			}
		}
	}

	&.medications {
		a { text-decoration: none; }
		.grid {
			margin: 15px 0;
			.column {
				background: $grey90;
			}
		}
	}



	/*&.bio {
		color: $grey60;
		margin-top: 0;
		h1 {
			font-weight: normal;
			font-size: 48px;
			font-family: 'source_sans_pro_extralight';
			margin: 20px 0 0 0;
			small {
				font-family: 'source_sans_probold';
				font-size: 20px;
				color: $grey80;
			}
		}
		p, address {
			font-size: 18px;
			margin: 0;
			margin-top: 5px;
			padding-bottom: 5px;
			color: $grey80;
		}
	}*/

	&.updates {
		background: $grey80;
		margin-top: 0;
	}
	
}

/****************************************************************
 CONTENT STYLES */

.listing {
	font-family: 'source_sans_pro_semiboldRg';
	ul {
		list-style-type: none;
		margin: 15px 0;
		padding: 0;
		li {
			margin-left: 0;
			padding-left: 0;
			font-size: 1.5em;
			a {
				color: inherit;
				display: block;
				border-radius: 5px;
				text-decoration: none;
				padding: 2px 8px;
				line-height: 1.75em;
				margin-bottom: 5px;
				&:last-child {
					margin-bottom: 0;
					padding-bottom: 0;
				}
				&:hover {
					background: #fafafa;
				}
			}
		}
	}

	p {
		padding: 5px;
	}
	small {
		font-family: 'source_sans_proregular';
		font-size: 15px;
		color: $grey40;
	}
}

.headline {
	.panel {
		background: $grey40;
		color: $white;
		h2 {
			font-size: 1.3em;
		}
	}
	&.alert .panel {
		background: $alertOff;
	}
}

.content {
	background: $white;
}

/****************************************************************
 HIGH CONTRAST */

.high-contrast {
	.barcode {
		opacity: 1.0;
		filter: alpha(opacity=100);
	}
	*, *:before, *:after { 
		background: none !important; 
		color: $black !important; 
	}
	.columns {
		border: 1px solid #aaa;
	}
}
